body {
  font-family: 'Lexend Deca', sans-serif;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: 7rem;
  color: #2ac1a5;
}

h2 {
  font-size: 3rem;
  color: #89d2c5;
}

.material-icons,
p {
  color: gray;
}

p {
  font-size: 2.4rem;
}