$scale: 10;

$width: $scale * 20px;
$height: $scale * 22px;
$depth: $scale * 2px;

// Colors
$color1: #333;
$color2: #444;
$color3: #222;
$color4: #225522;
$color5: #191919; // The color inside the cartridge
$color6: #111;

// Animation

@keyframes spin {
  0% {
    transform: rotateY(-35deg) rotateX(-10deg);
  }
  25% {
    transform: rotateY(16deg) rotateX(-2deg);
  }
  75% {
    transform: rotateY(35deg) rotateX(20deg);
  }
  100% {
    transform: rotateY(325deg) rotateX(-10deg);
  }
}

%topAndBottom {
  position: absolute;
  left: 0;
  width: $width - $width / 20;
  left: $width / 40;
  height: calc(#{$depth * 2} - 1px);
  transform: rotateX(-90deg) translateZ(-$depth);
  transform-origin: center center;
  transform-style: preserve-3d;
  img {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  &:before {
    right: -$depth * 0.6;
    border-width: $depth 0 $depth $depth * 0.6;
    border-color: transparent transparent transparent $color2;
  }
  &:after {
    left: -$depth * 0.6;
    border-width: $depth $depth * 0.6 $depth 0;
    border-color: transparent $color2 transparent transparent;
  }
}

%frontAndBack {
  position: absolute;
  background: $color1;
  width: $width - $width / 20;
  left: $width / 40;
  height: $height;
  transform-style: preserve-3d;
  img {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    backface-visibilty: none;
  }
  &:before {
    transform-style: preserve-3d;
    content: '';
    position: absolute;
    width: $depth * 1.2;
    height: $height;
    transform: rotateY(-120deg);
    transform-origin: top left;
    background: $color3;
  }
  &:after {
    transform-style: preserve-3d;
    content: '';
    position: absolute;
    right: 0;
    width: $depth * 1.2;
    height: $height;
    transform: rotateY(120deg);
    transform-origin: top right;
    background: $color5;
  }
}

.back {
  @extend %frontAndBack;
  z-index: 20;
  transform: translateZ(-$depth);
}

.front {
  @extend %frontAndBack;
  z-index: 10;
  transform: translateZ($depth);
  background: $color6;
  &:before {
    right: 0px;
    transform-origin: top right;
  }
  &:after {
    left: 0px;
    transform-origin: top left;
  }
}

.top {
  @extend %topAndBottom;
  top: 1px;
  background: $color2;
}

.bottom {
  @extend %topAndBottom;
  bottom: -$depth;
  background: $color6;
  &:after,
  &:before {
    border-color: transparent $color6 transparent transparent;
  }
}

.cartridge {
  width: $width;
  height: $height;
  animation: spin 5s ease infinite;
  transform-style: preserve-3d;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 50%;
    background-size: 50% 50%;
    background: $color4;
  }
}
