@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.image-gallery-slide img {
  width: 100%;
  height: 400px;
}
